@model MvcBandas.Models.Concierto

@{
    ViewData["Title"] = "Crear Concierto";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Lugar" class="control-label"></label>
                <input asp-for="Lugar" class="form-control" />
                <span asp-validation-for="Lugar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BandaId" class="control-label"></label>
                <select asp-for="BandaId" class="form-control" asp-items="ViewBag.BandaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary mr-2" type="submit">
                    <i class="fa fa-save" style="font-size:12px;"> Crear</i>
                </button>
                <a asp-action="Index" class="btn btn-info mr-2">
                <i class="fa fa-undo"> </i> Regresar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
