@model MvcBandas.ViewModels.ConciertoDeleteViewModel

@{
    ViewData["Title"] = "Elminar Concierto";
}



<h3>Estas seguro que deseas eliminar el concierto de la banda <strong>@Model.Banda</strong> en @Model.Lugar a las @Model.Fecha? </h3>
<div>

    <hr />


    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">
            <i class="fa fa-trash-alt"> </i> Eliminar
        </button>
        <a asp-action="Index" class="btn btn-info mr-2"> <i class="fa fa-undo"> </i> Regresar</a>

    </form>
</div>
