@model MvcBandas.Models.Banda

@{
    ViewData["Title"] = "Elminar Banda";
}

<h1>Delete</h1>

<h3>Estas seguro que deseas eliminar la banda <strong>@Model.Nombre</strong>? </h3>
<div>

    <hr />
   
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">
            <i class="fa fa-trash-alt"> </i> Eliminar
        </button>
        <a asp-action="Index" class="btn btn-info mr-2"> <i class="fa fa-undo"> </i> Regresar</a>
      
    </form>
</div>
